<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.common">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name=".base.FragmentHostActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".base.PermissionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Common.Dialog.Theme" />

        <activity
            android:name=".widget.photo.PhotoPickerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".widget.photo.PhotoDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Common.Transparent.Theme" />

        <activity
            android:name=".widget.webview.ImageActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>