<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.common">

    <application>
        <activity android:name=".base.FragmentHostActivity" />
        <activity
            android:name=".base.PermissionActivity"
            android:theme="@style/DialogTheme"/>
    </application>

</manifest>
